@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
	string PageTitle = Model.Name;
  IPublishedContent SettingsPage = Umbraco.Content(1079);
  string WebsiteName = SettingsPage?.Value<string>("settingsWebsiteName");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@PageTitle | @WebsiteName</title>

  <link rel="icon" href="data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100' height='100' fill='%2338A169'/%3E%3Cpath d='M92.3692 28.9849C87.4449 27.714 82.1805 26.6255 76.7856 25.864L58.7341 68.9481L24.218 77.5933C26.7733 80.8806 29.8966 82.66 36.2602 85.1955C46.2347 89.1696 56.7678 89.1216 66.8153 83.7515C69.0167 82.5749 71.1523 81.1072 73.2234 79.3666C80.3104 73.4107 86.4323 64.4979 91.6474 53.6706C94.0118 48.7618 96.0318 43.7802 97.7112 38.9798C98.2994 37.2986 98.8033 35.7591 99.2233 34.3933C99.4766 33.5692 99.6465 32.983 99.7332 32.6667C99.948 31.883 99.5125 31.0682 98.7416 30.8113C98.4304 30.7077 97.8486 30.5233 97.0228 30.2761C95.6538 29.8664 94.0939 29.43 92.3692 28.9849Z' fill='%23379A65'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5331 75.6516C19.1291 72.252 16.7314 65.3291 16.1526 58.5035C15.2453 47.8048 18.3492 37.7393 26.405 29.6835C28.1699 27.9185 30.1945 26.3011 32.4614 24.8245C40.2182 19.7718 50.5244 16.501 62.3994 14.6538C67.7831 13.8163 73.1368 13.3296 78.2179 13.1161C79.9975 13.0414 81.617 13.0061 83.0459 13.0008C83.908 12.9975 84.5182 13.0051 84.8461 13.0139C85.6584 13.0359 86.3117 13.6892 86.3337 14.5015C86.3425 14.8294 86.3502 15.4397 86.3469 16.3018C86.3416 17.7307 86.3063 19.3502 86.2315 21.1297C86.018 26.2109 85.5313 31.5645 84.6938 36.9482C82.8466 48.8232 79.5758 59.1294 74.5232 66.8863C73.0466 69.1532 71.4291 71.1777 69.6641 72.9427C61.6083 80.9985 51.5428 84.1023 40.8441 83.195C34.0185 82.6162 27.0956 80.2185 23.696 77.8146L38.9347 62.5758L55.6038 62.5758C56.4568 62.5758 57.1343 61.8911 57.1343 61.0464C57.1343 60.2264 56.4468 59.5169 55.5987 59.5169L41.9936 59.517L54.0754 47.4351L62.0922 47.4352C62.9257 47.4352 63.6232 46.7504 63.6232 45.9057C63.6232 45.0857 62.9485 44.3763 62.1162 44.3763L57.1343 44.3763L67.5025 34.0081C68.1151 33.3954 68.0984 32.4438 67.5011 31.8465C66.9213 31.2667 65.9361 31.2486 65.3395 31.8451L54.9714 42.2133L54.9714 37.2315C54.9714 36.4034 54.2866 35.7244 53.4419 35.7244C52.6219 35.7244 51.9125 36.4099 51.9125 37.2554L51.9125 45.2722L39.8307 57.354L39.8307 43.7489C39.8307 42.8705 39.1459 42.2133 38.3012 42.2133C37.4813 42.2133 36.7718 42.8985 36.7718 43.7438L36.7718 60.4129L21.5331 75.6516Z' fill='white'/%3E%3C/svg%3E%0A">

	<!-- Link to external files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

	@Html.Partial("Header/Header")

  @Html.Partial("Hero/Hero")

	@RenderBody()

  @Html.Partial("Footer/Footer")  
	
</body>
</html>

